<div class="mainContainer">

    <div class="navigationContainer">
  
      <div class="headcontainer">
  
      </div>
      <div class="detailscontainer">
  
        <div class="name-container">
          Ashan Chandrasiri
        </div>
  
        <div class="email-container">
          ashanchandrasiri1@gmail.com
        </div>
  
  
      </div>
  
      <div class="avatar-container" style="background-color: rgba(124, 121, 121, 0.24);">
        <div class="avtar-div" style="background-color: rgba(116, 116, 116, 0.37);">
          <img class="avatar" src="http://angular-material.fusetheme.com/assets/images/avatars/Velazquez.jpg">
        </div>
      </div>
  
  
  
      <div class="navigationspanelcontainer">
  
        <p class="textApplicant">
          APPLICATIONS
        </p>
  
        <div class="directions">
  
  
  
          <mat-list dense>
  
            <mat-list-item class="mayItem">
              <mat-icon matListIcon class="icons">dashboard</mat-icon>
              <p matLine class="lines">Venues</p>
            </mat-list-item>
            <mat-list-item class="mayItem">
              <mat-icon matListIcon class="icons">store</mat-icon>
              <p matLine class="lines">Reservations</p>
            </mat-list-item>
  
            <mat-list-item class="mayItem">
              <mat-icon matListIcon class="icons">home</mat-icon>
              <p matLine class="lines">My Reservations</p>
            </mat-list-item>
  
            <mat-list-item class="mayItem">
              <mat-icon matListIcon class="icons">monetization_on</mat-icon>
              <p matLine class="lines">Payments</p>
            </mat-list-item>
  
          </mat-list>
  
  
        </div>
  
  
  
      </div>
  
  
  
  
      
  
    </div>
  
  
    <div class="contentContainer">
  
  
      <div class="top-nav-bar">
  
        <button mat-icon-button class="navbar-toggle-button" fxHide.gt-md>
          <mat-icon class="secondary-text">mail</mat-icon>
        </button>
  
        <button mat-icon-button class="navbar-toggle-button" fxHide.gt-md>
          <mat-icon class="secondary-text">mail</mat-icon>
        </button>
  
        <button mat-icon-button class="navbar-toggle-button" fxHide.gt-md>
          <mat-icon class="secondary-text">mail</mat-icon>
        </button>
  
  
  
  
      </div>
  
      <div class="content">
  
  
      </div>
  
    </div>
  
  
  
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <app-side-sav-bar></app-side-sav-bar> -->
  
  
  
  
  
  
  
  
  <!-- 
  <p>
    profile works!
  
    <button (click) = "logout()">logout</button>
  </p> -->